@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: grey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;

}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(116, 110, 110);
    color: white;
}

section.imagem > p {
    text-shadow: 1px 1px 10px black;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}