@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Rowdies', cursive;
}

html, body {
    min-height: 100vh;
    background-color: grey;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
    font-weight: 100;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 100px;
    font-family: var(--font3);
    font-size: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(116, 110, 110);
    color: white;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.514);
    background-attachment: fixed;
}

section.imagem > p {
   text-shadow: 3px 3px 15px black;
}

section#img01 {
    background-image: url(img/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(img/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    text-align: center;
    color: rgb(190, 168, 168);
    padding: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 30px;
}